<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Recipe Book</a>
        </div>
       
            <ul class="nav navbar-nav ">
                <li> <a class="nav-link" href="#" (click)="openRecipes()">Recipes</a>  </li>  
                 <li><a class="nav-link" href="#" (click)="openList()">Shopping List</a> </li>
            </ul>
            <ul class="nav navbar-nav ml-auto dropstart" ngbDropdown display="dynamic" placement="bottom-right">
                <button class="btn btn-secondary dropdown-toggle mybutton" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                    Server
                  </button>
                  <ul class="dropdown-menu customclass" aria-labelledby="dropdownMenuButton1" ngbDropdownMenu >
                    <li><a class="dropdown-item" href="#" ngbDropdownItem>Action</a></li>
                    <li><a class="dropdown-item" href="#" ngbDropdownItem>Another action</a></li>
                    <li><a class="dropdown-item" href="#" ngbDropdownItem>Something else here</a></li>
                  </ul>

            </ul>
     
  
</div>
    

</nav>