<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" class="img-responsive mt-5" style="max-height:100px;">
    </div>
   
</div>
<div class="row">
    <div class="col-xs-6 shared">
        <h1 class="text-capitalize">{{recipe.name}}</h1>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle show">Manage Recipe</button>
       <ul class="dropdown-menu">
           <li><a href="" (click)="addToShoppingList();$event.preventDefault()">Add to Shopping List</a></li>
           <li><a href="">Edit Recipe</a></li>
           <li ><a href="" (click)="deleteRecipe(); $event.preventDefault();">Delete Recipe</a></li>

       </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.body}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row" *ngFor="let ingredient of recipe.ingredients">
            <div class="col">
                <p>{{ingredient.name}}</p>
            </div>
            <div class="col">
                <p>{{ingredient.amount}}</p>
            </div>
        </div>
    </div>
</div>